.container {
  text-align: center;
  padding: var(--padding-base);
  max-width: 1430px;
  margin: auto;
}

.leaderboard {
  margin-top: 20px;
}

.leaderboardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
}

.rank {
  display: flex;
  align-items: center;
}

.rank span {
  font-size: 18px;
  margin-right: 5px;
}

.trophy {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.userInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.progressContainer {
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 10px;
}

.progressBar {
  height: 10px;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s;
}

.points {
  margin-left: 5px;
  font-size: 14px;
}

.cardImage {
  width: 65%;            /* Set the image width to 65% */
  height: auto;          /* Keep the aspect ratio intact */
  object-fit: cover;     /* Ensure the image covers the container */
  display: block;        /* Ensure the image behaves like a block element */
  margin: 0 auto;        /* Center the image horizontally */
}

.cardImageNotification {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  object-position: top;
}

.heading {
  font-size: var(--font-size-5xl);
  font-weight: bold;
}

.subHeading {
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  margin-bottom: var(--gap-xl);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-4xl);
}

.card {
  background: var(--color-gray-700);
  padding: var(--padding-lg);
  border-radius: var(--br-3xs);
  text-align: left;
  box-shadow: 0 2px 10px rgba(201, 196, 196, 0.1);
  font-size: var(--font-size-xs);
  transition: all 0.3s ease;
  cursor: pointer;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContent {
  flex: 1;
  padding-right: 20px;
}

.imageContent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.slotMachineImage {
  width: 130px;
  max-width: 130px; /* Adjust the size of the image */
  height: auto;
}


.extraInfo {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.card h3 {
  font-size: var(--font-size-base);
}

/* Popup Styles */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  max-width: 90%;
}

.popup h3 {
  font-size: var(--font-size-xl);
  margin-bottom: 10px;
}

.popup p {
  font-size: var(--font-size-sm);
  color: var(--color-gray-800);
}

.popupImage {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

/* Grid adjustments for cards */
.card:nth-child(1) {
  grid-column: span 1;
  grid-row: span 2; /* First card spans 2 columns */
}

.card:nth-child(2) {
  grid-column: span 1; /* Second card stays regular size */
}

.card:nth-child(3) {
  grid-column: span 1; /* Third card stays regular size */
}

.card:nth-child(4) {
  grid-column: span 1; /* Fourth card spans 2 columns */
}

.card:nth-child(5) {
  grid-column: span 1; /* Fifth card stays regular size */
  grid-row: span 2; /* First card spans 2 columns */

}

.card:nth-child(6) {
  grid-column: span 2; /* Sixth card stays regular size */

}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(1),
  .card:nth-child(5),
  .card:nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .leaderboardItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .progressContainer {
    width: 100%;
    margin-top: 5px;
  }

  .heading {
    font-size: var(--font-size-4xl);
  }

  .subHeading {
    font-size: var(--font-size-sm);
  }

  .card {
    padding: var(--padding-3xs);
  }

  .popup {
    width: 90%;
  }
}
